.Small{
  font-size: 60%;
}

.small{
  font-size: 80%;
}

.normal{
  font-size: 100%;
}

.large{
  font-size: 120%;
}

.Large{
  font-size: 144%;
}

.huge{
  font-size: 160%;
}

.Huge{
  font-size: 180%;
}

.HUGE{
  font-size: 200%;
}

.extra_HUGE{
  font-size: 500%;
}


.extra_extra_HUGE{
  font-size: 1500%;
}

